<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-bar w3-grey">
    <a class="w3-bar-item w3-button"><img src="/images/<%= user.image %>" style="width: 50px"></a>
    <a style="padding-right:45%;" class="w3-bar-item w3-button">Welcome <%= user.username %></a>
    <a href="/UserPage" class="w3-bar-item w3-button">Home</a>
    <a href="/add/<%= user.id %>" class="w3-bar-item w3-button">Add Post</a>
    <a href="/post" class="w3-bar-item w3-button">My Post</a>
    <a href="/profile/<%= user.id %>" class="w3-bar-item w3-button">Profile</a>
    <a href="/logout" class="w3-bar-item w3-button">LOGOUT</a>
</div>

<center><br><br><br>
    <img src="/images/<%= user && user.image %>" style="width: 80px">
    <form action="/profile" method="post" enctype="multipart/form-data">
      <div style="color:red; " id="alertContainer"></div>
      <div style="color: green;" id="successContainer"></div>
        UPDATE PROFILE<br>
        <input type="hidden" name="id" value="<%=user.id%>">
        Fullname: <input type="text" value="<%=user.fullname%>" name="fullname" required><br>
        Username: <input type="text" value="<%=user.username%>" name="username" required><br>
        Email: <input type="text" value="<%=user.email%>" name="email" required><br>
        Profile: <input class="form-control-file" type="file" accept="image/*" name="photo"><br>
    
        <input type="submit" value="update profile">
    </form>
    
</center>


<script>
function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
}
var alertMessage = getUrlParameter('alert');
var successMessage = getUrlParameter('success');
if (alertMessage) {
    var alertContainer = document.getElementById('alertContainer');
    alertContainer.innerHTML = '<div class="error-message">' + alertMessage + '</div>';
}
if (successMessage) {
    var successContainer = document.getElementById('successContainer');
    successContainer.innerHTML = '<div class="success-message">' + successMessage + '</div>';
}
</script>
    
</body>
</html>